<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Accessible Way</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<h1>Your Accessible Way</h1>
	<ul>
		<li><a id="l1" href="/signup">Sign-up</a></li>
		<li><a href="/listUser">Listing User</a></li>
		<li><a href="/logout">Sair</a></li>
	</ul>

	<h2>Sign-up</h2>
	<ul>
		<li th:each="error : ${msgErrors}"><span th:text="${error}"></span>
		</li>
	</ul>
	<form th:object="${user}" action="/save" method="post">

		<input type="hidden" name="id" th:field="*{id}">
		<p>
			<label for="name">Name</label> <input type="text" name="name"
				th:field="*{name}">
		</p>
		<p>
			<label for="email">E-mail</label> <input type="text" name="email"
				th:field="*{email}">
		</p>
		<p>
			<input type="submit" name="save" value="Save">
		</p>
	</form>

	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>